<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodoItemstTDD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F047A4286E0A6200D9E9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F047BA286E0A6300D9E9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F047C4286E0A6300D9E9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
